*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{}
img{
	width: 100%;
}
.project_two{
    border-bottom: 1px solid #f4eff9;
}
.logo{
	width: 180px;
	margin: auto;
}
.logo img{ 
	padding: 15px 0;
}
.middle{
    width: 1100px;
    margin: auto;
}
.our_mession{}
.our_mession h3{
    text-align: center;
    padding: 70px 0;
    font-size: 39px;
    max-width: 552px;
    margin: auto;
}
.our_mession h3 .span1{
    color: #4285f4;
}
.our_mession h3 .span2{
    color: #ea4335;
}
.our_mession h3 .span3{
    color: #34a853;
}
.our_mession h3 .span4{
    color: #fbbc05;
}
.team{

}
.team img{}
.lorem{
    padding-bottom: 25px;
}
.lorem h1{
    max-width: 200px;
    font-size: 37px;
    font-weight: 900;
    padding-top: 70px;
    color: black;
}
.lorem p{
    font-size: 19px;
    padding: 25px 0;
    color: black;
    font-weight: 100;
}
.budget{
    background: #0CA26D;
    color: white;
    text-align: center;
    padding: 120px;
    margin-bottom: 30px;
}
.budget h3{
    font-size: 63px;
    font-weight: bolder;
}